@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Poppins;
}

.navbar {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > ul, .social {
    list-style: none;
    display: flex;
    align-items: center;
    gap : 10px ;
    padding-top: 15px;
}
.navbar > ul a {
    text-decoration: none;
    position: relative;
    color: green ;
}
.navbar > ul a::before {
    content: "";
    position: absolute;
    top : 95% ;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 0;
    background-color: goldenrod;
    transition: .6s ease ;
    border-radius: 10px ;
 }
 .navbar > ul a:hover::before {
    width: 90%;
}
.navbar > ul svg {
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
   width: 70px;
   height: 70px;
}

.slogan {
    display: flex;
    flex-direction: column;
    gap : 5px ;
}
.slogan span:nth-child(2) {
    font-size: 12px;
    color : goldenrod ;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color:black ;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: overlay;
    background-image: url("../front/images/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 50px ;
    margin-bottom: 50px;
}
.welcome h1 {
    font-size: 80px;
}

.aboutus {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
    background-color: rgba(220, 220, 220, 0.581) ;
}
 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    font-size: 15px;
    text-align: center;
}
.aboutus img{
    height: 100%;
    width: 100%;
}
.services {
    margin-bottom: 50px;
   
}
.services img {
    filter : brightness(0.6) ;
}
.services div  {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.services div img {
    height: 100%;
    width: 100%;
}

.services h1 {
    color : white ;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}


.service {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 20px ;
    margin-bottom: 20px;
    
}
.service .text {
   background-color: rgba(220, 220, 220, 0.581);
}

.service img {
    width: 100%;
    height: 100%;
}

.getin {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
    background-color: rgba(220, 220, 220, 0.581) ;
    text-align: center;
}
.getin img {
    width: 100%;
    height: 100%;
}
.social {
    padding-right: 50px;
}

.accordion-container {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
  }


  .danger {
    color: red;
    
  }
  .danger li {
    list-style-type: none !important;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap : 15px ;
    background-color: rgba(0, 128, 0, 0.263);
    padding: 20px;
    border-radius: 15px;
    width: 40%;
  }

.span {
    opacity: 0;
    transition: all .5s linear ;
}

.span.fade {
    opacity: 1;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.profile-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    display: flex;

}
.main-body > div > div{
    display: flex;
    gap: 20px ;
    justify-content: center;
    align-items: center;
}

.info {
    width: 600px ;
}
.info > div {
    width: 600px;
}
.hidden {
    display: none;
}

.rou {
    width: 150px;
    height: 150px;
    border-radius: 50% ;
}

.roun {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
}

.cc {
    
    display: flex;
    gap : 20px ;
}

.cc a {
    white-space: nowrap ;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
 
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 100%;
    height: 100%;   
   
  }

  .form-con {
    width: 150%;
    height : 100%;
    position: relative;
    top: -280px ;
    left: -40px ; 
    background-color: rgba(0, 128, 0, 0.263) !important;
     opacity : 1 ;
  }
  
  /* Full-width input fields */
  .form-con input[type=file] {
    width: 90%;
    margin-bottom : 10px ;
   
  }
  
  /* When the inputs get focus, do something */
  
  
  /* Set a style for the submit/login button */
  .form-con .btn {
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-con .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-con .btn:hover, .open-button:hover {
    opacity: 1;
  }


table.ranking {
    width: 60% !important ;
    margin: auto;
}

.filter {
    display: flex;
    gap: 10px ;
}

.msg {
    width: 60%;
    margin: auto;
}