{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block child %}

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
add filed                            </div>
                            <div class="card-body">
                         {{ include('article/_form.html.twig') }}
                       <button onclick="location.href='http://localhost/Eco-Collectes-Web/public/index.php/forum'" class="btn">back to list</button>
                            
                            </div>
                        </div>
                    </div>
                </main>
            </div>


{% endblock %}
