{% extends 'base-back.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<body class="sb-nav-fixed">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Admin-Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Forums-DataTable 
                            </div>
                            <div class="card-body">

                            <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Titre</th>
                                            <td>{{ article.titre }}</td>
                                        </tr>
                                        <tr>
                                            <th>Contenu</th>
                                            <td>{{ article.contenu }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                         {{ include('article/_delete_form.html.twig') }}   
                        <button onclick="location.href='http://localhost/Eco-Collectes-Web/public/index.php/article/admin'" class="btn">back to list</button>

                            </div>
                        </div>
                    </div>
                </main>
            </div>

    
{% endblock %}
